@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}
#container {
  color: rgb(32, 32, 32);
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 24px;
}

.wrapperEl {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 12px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.wrapperEl {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.wrapperEl:hover .pokeImg:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.pokeName {
  font-size: 24px;
  font-weight: bold;
}

.pokeImg {
  filter: drop-shadow(5px 5px 5px #222);
  height: 180px;
  width: fit-content;
  align-self: center;
}

.midWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8rem;
}

.bottomWrapper {
  font-size: 0.8rem;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
